@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background-color: #fafafa;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*----------------------------------General */

section {
    min-height: 75vh;
}

hr {
    border-width: 3px;
    background-color: #002a4e;
}

h1 {
    font-family: "Roboto", sans-serif;
    margin: 5rem auto;
}


/*----------------------------------Navigation */

.navbar {
    background-color: black;
}

.nav-link {
    text-transform: uppercase;
    font-family: Roboto;
    font-weight: bold;
}


/*----------------------------------Intro Section */

#intro {
    background-color: #002a4e;
}

.intro-text {
    color: #fafafa;
    font-size: larger;
    font-family: Roboto;
    margin-top: 2.5rem;
}

.shadow {
    background-color: #fafafa;
    margin-top: 20px;
}

button {
    background-color: #002a4e;
    color: white;
}

.cost {
    font-size: medium;
    font-family: Roboto;
}

img {
    height: auto;
    width: 100%;
    padding: 10px;
}

.btn-bt {
    background-color: #fafafa;
    color: #002a4e;
}

.btn-bt:hover {
    background-color: #00FFD9;
    color: black;
}

.btn {
    color: #fafafa;
    background-color: #002a4e;
}

.btn-primary {
    border-color: #fafafa;
}

.intro-heading {
    font-size: xx-large;
    color: #fafafa;
}


/*----------------------------------Membership Section */

#memberships {
    padding-top: 90px;
}

.btn-memb {
    margin: 0;
}

.memb-price {
    color: #002a4e;
}

.card {
    border: 2px solid #002a4e;
}

.card-header {
    background-color: #002a4e;
    color: #fafafa;
}


/*----------------------------------Contact Section */

#contact {
    padding-top: 90px;
}

.center-form {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.form-control {
    border: 1px solid #002a4e;
}


/*----------------------------------Footer */

footer {
    background-color: #002a4e;
}

.contact-footer {
    font-family: "Exo", sans-serif;
    text-align: center;
}

.contact-footer li {
    margin: 5px 0;
}

.icon-contact {
    margin-right: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    margin-top: 10px;
    border-radius: 50%;
    padding: 8px 0;
    font-size: 18px;
    text-align: center;
    color: #fafafa;
    background: darkblue;
}

i:hover {
    opacity: 0.7;
}

.social-m {
    float: left;
    width: 50%;
}

@media only screen and (min-width: 768px) {
    .img-wrapper {
        display: block;
    }

    .nav-link {
        margin-right: 80px;
    }

    h4 {
        font-size: 150%;
    }

    .p1 {
        font-size: 1.5rem;
    }

    .navbar-collapse {
        padding-right: 120px;
    }

    section {
        min-height: 75vh;
    }

    .center-form {
        max-width: 50%;
        margin: 0 auto;
        padding-top: 10px;
    }

    footer {
        margin: 0;
    }

    .contact-footer {
        text-align: left;
    }
}